/* -------------------------------------------------------------------------- */
/*                                   géneral                                  */
/* -------------------------------------------------------------------------- */
*{
    padding: 0;
    margin: 0;
}
body
{
    background-color: rgb(255, 249, 240);
    margin: 0 10%;
}
/* -------------------------------------------------------------------------- */
/*                                 typographie                                */
/* -------------------------------------------------------------------------- */

h1
{
    font-size: 2em;
}

h2{
    font-size: 1em;
}

#compteur
{
    font-size: 0.7em;
    font-weight: bold;
}

h2, button {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                          boutons, input et chrono                          */
/* -------------------------------------------------------------------------- */

#caseRep{
    margin: 10px 0;
    height: 80px;
    display: inline-block;

}

.invisible {
    display: none !important; 
}

#caseRep div {
    display: inline-block;
}

/* --------------------------------- boutons -------------------------------- */

#btn-demarrage, #btn-recommencer{
    padding: 16.5px;
    background-color: chartreuse;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: bold;
}

#btn-recommencer{
    display: inline-block;
    position:relative;
    margin-bottom: 0px;
    top: -20px;
}

#btn-demarrage:hover, #btn-recommencer:hover{
    box-shadow: chartreuse 0 0 10px ;
}

#btn-container > button{
    padding: 12.5px;
    border-radius: 100%;
    position: relative;
    top: calc(-40px + 12.5px);
    margin: 0 5px;
}

#btn-container > button:hover{
    border-color: chartreuse;
}

/* ---------------------------------- input --------------------------------- */

input
{
    height: 26px;
    width: 216.32px;
    margin: 5px 0;
}

/* --------------------------------- chrono --------------------------------- */

#chrono.enMarche {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px;
    width: 75px;
    padding: 25px 0;
    text-align: center;
    position: relative;
    top: -20px;
}

/* -------------------------------------------------------------------------- */
/*                                     map                                    */
/* -------------------------------------------------------------------------- */

#map-container{
    width:  614px;
    height: 586px;
    overflow: hidden;
}

#map-container path{
    fill: orange;
    stroke: black;
    stroke-width: 0.5px;
}

#map-container.zoom path{
    stroke-width: 0.3px;
}

#map-container .show{
    fill: green;
}

#map-container .lost{
    fill: red;
}

#carte{
    border: solid black 1px;
    background-color: rgb(65, 65, 243);
}